* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    padding: 1em;
    background-color: #E4F1FE;
}

header h1 {
    font-family: 'Tillana', cursive;
    font-size: 1.3em;
}

.city-weather-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    min-height: 30vh;
    background-color: lightseagreen;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    perspective: 30px;
    transform-origin: top left;
}

.city-weather-container.ng-enter {
  animation: containerIn 500ms forwards;
  -webkit-animation: containerIn 500ms forwards;
}

.city-weather-container.ng-leave {
  animation: containerOut 500ms forwards;
  -webkit-animation: containerOut 500ms forwards;
}



@keyframes containerIn {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }    
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@-webkit-keyframes containerIn {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }    
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes containerOut {
  0% {
    height: 100%;
    opacity: 1;
    transform: rotateY(0deg);
  }
  100% {
    height: 0;
    opacity: 0;
    transform: rotateY(180deg);
  }  
}

@-webkit-keyframes containerOut {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateY(180deg);
  }   
}
  
    

.city-weather-thunderstorm {
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(120,119,96,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(54,53,46,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(120,119,96,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(54,53,46,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(120,119,96,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(54,53,46,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(120,119,96,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(54,53,46,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(120,119,96,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(54,53,46,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(120,119,96,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(54,53,46,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}
.city-weather-drizzle {
    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(143,147,163,1) 76%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(76%, rgba(143,147,163,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(143,147,163,1) 76%, rgba(73,165,191,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(143,147,163,1) 76%, rgba(73,165,191,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(143,147,163,1) 76%, rgba(73,165,191,1) 100%);
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(143,147,163,1) 76%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
.city-weather-rain {
    background: rgba(76,183,255,1);
    background: -moz-linear-gradient(45deg, rgba(76,183,255,1) 0%, rgba(10,71,255,1) 15%, rgba(10,128,255,1) 34%, rgba(9,110,219,1) 53%, rgba(9,110,219,1) 63%, rgba(124,10,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,183,255,1)), color-stop(15%, rgba(10,71,255,1)), color-stop(34%, rgba(10,128,255,1)), color-stop(53%, rgba(9,110,219,1)), color-stop(63%, rgba(9,110,219,1)), color-stop(100%, rgba(124,10,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(76,183,255,1) 0%, rgba(10,71,255,1) 15%, rgba(10,128,255,1) 34%, rgba(9,110,219,1) 53%, rgba(9,110,219,1) 63%, rgba(124,10,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(76,183,255,1) 0%, rgba(10,71,255,1) 15%, rgba(10,128,255,1) 34%, rgba(9,110,219,1) 53%, rgba(9,110,219,1) 63%, rgba(124,10,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(76,183,255,1) 0%, rgba(10,71,255,1) 15%, rgba(10,128,255,1) 34%, rgba(9,110,219,1) 53%, rgba(9,110,219,1) 63%, rgba(124,10,255,1) 100%);
    background: linear-gradient(45deg, rgba(76,183,255,1) 0%, rgba(10,71,255,1) 15%, rgba(10,128,255,1) 34%, rgba(9,110,219,1) 53%, rgba(9,110,219,1) 63%, rgba(124,10,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb7ff', endColorstr='#7c0aff', GradientType=1 );    
}

.city-weather-snow {
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
.city-weather-clear {
    background: rgba(20,209,156,1);
    background: -moz-linear-gradient(-45deg, rgba(20,209,156,1) 0%, rgba(92,165,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(20,209,156,1)), color-stop(100%, rgba(92,165,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(20,209,156,1) 0%, rgba(92,165,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(20,209,156,1) 0%, rgba(92,165,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(20,209,156,1) 0%, rgba(92,165,255,1) 100%);
    background: linear-gradient(135deg, rgba(20,209,156,1) 0%, rgba(92,165,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14d19c', endColorstr='#5ca5ff', GradientType=1 );
}
.city-weather-clouds {
    background: rgba(217,239,247,1);
    background: -moz-linear-gradient(-45deg, rgba(217,239,247,1) 0%, rgba(22,195,248,1) 50%, rgba(249,226,249,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(217,239,247,1)), color-stop(50%, rgba(22,195,248,1)), color-stop(100%, rgba(249,226,249,1)));
    background: -webkit-linear-gradient(-45deg, rgba(217,239,247,1) 0%, rgba(22,195,248,1) 50%, rgba(249,226,249,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(217,239,247,1) 0%, rgba(22,195,248,1) 50%, rgba(249,226,249,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(217,239,247,1) 0%, rgba(22,195,248,1) 50%, rgba(249,226,249,1) 100%);
    background: linear-gradient(135deg, rgba(217,239,247,1) 0%, rgba(22,195,248,1) 50%, rgba(249,226,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9eff7', endColorstr='#f9e2f9', GradientType=1 );
}

.city-weather-haze {
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

.city-weather-extreme {
    background: rgba(235,233,249,1);
    background: -moz-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 25%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(25%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
    background: -webkit-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 25%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -o-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 25%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 25%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
}

.city-data {
    min-width: 20%;
}

.city-name {
    margin-bottom: .7em;
    font-size: 1.2em;
    font-weight: bold;
}

.weather-desc {
    margin-bottom: .7em;
}

.weather-icon {
    object-fit: contain;
}

.weather-params-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.weather-param {
    position: relative;
    margin-right: .8em;
    padding: 1.5em;
    text-align: center;
}

.weather-param:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: .4em;
    background-color: rgba(255,255,255,.2);
    filter: blur(30px);
}

.weather-param-title {
    margin-bottom: .8em;
    font-weight: bold;
}

.weather-param-num {
    display: block;
    font-size: 3em;
}

.weather-temp {
    color: #fff;
}

.weather-param-temp {
    direction: rtl;
}

.temp-label {
    opacity: .5;
    font-size: .8em;
}

.temp-label__active {
    opacity: 1;
    font-size: 1.2em;
}


/*********** 
 DELETE BTN 
************/

.delete-btn-container {
    align-self: flex-start;
    margin-top: .4em;
    margin-left: .7em;
}

.btn-delete-city {
    color: #000;
    font-size: 1.3em;
    text-decoration: none;
}

/*********** 
 SEARCH FORM 
************/

#city-search-form {
    margin: 4em auto 40vh;
    /*margin-top: 4em;*/
    /*margin-bottom: 3em;*/
    width: 40%;
    /*text-align: center;*/
    transition: all 500ms ease;
}

#city-search-form label {
    display: block;
    margin-left: .7em;
    margin-bottom: .5em;
    font-weight: bold;
}

#city-search {
    margin-bottom: .5em;
    padding: .5em .7em;
    width: 80%;
    border: 1px solid lightskyblue;
    border-radius: .4em;
    font-size: 1.1em;
}

#city-search-form button {
    display: inline-block;
    padding: .5em .7em;
    border: 1px solid #2574A9;
    border-radius: .4em;
    background-color: #2574A9;
    color: #fff;
    font-size: 1.1em;
}

