<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" ng-app="myApp">
    <head>
        <title>Weather App</title>
        <script src="https://code.angularjs.org/1.5.2/angular.min.js"></script>
        <!--<script src="https://code.angularjs.org/1.5.8/angular-messages.min.js"></script>-->
        <!--<script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-animate.min.js"></script>
        
        <script src="app.js"></script>
        <script src="factories/geolocation-factory.js"></script>
        <script src="factories/weather-factory.js"></script>
        <script src="controllers/city-controller.js"></script>
        <script src="controllers/weather-controller.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Tillana" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <header>
            <h1>Local weather app</h1> 
        </header>

        <div class="wrapper">
            <div ng-controller="WeatherController">

                <!-- Loader -->
                <div ng-if="isLoading">
                    Loading...
                </div>

                <!-- after city info is loaded -->
                <div ng-if="!isLoading">

                    <div>

                    <!-- display all the cities info -->
                    <div 
                        ng-repeat="weather in weatherData" 
                        ng-controller="CityController as city"
                        class="city-weather-container city-weather-{{ weather.weather | lowercase }}">

                        <!-- one city principal information -->
                        <div class="city-data">
                            <p class="city-name">
                                <strong>{{ weather.cityName }}</strong>, 
                                {{ weather.country }}
                            </p> 
                            <p class="weather-desc">{{ weather.weatherDesc }}</p>
                            <!--<img src="img/{{ weather.weather | lowercase }}.png" class="weather-icon" width="100px" height="100px" alt="weather pictogram">-->
                        </div>

                        <!-- one city weather details -->
                        <div class="weather-params-container">
                            <div class="weather-param">
                                <p class="weather-param-title">Temperature</p>
                                
                                <div class="weather-param-temp">                 
                                    
                                    <span ng-if="showMetric">
                                        <span class="weather-param-num" >
                                            {{ weather.tempCels }} 
                                        </span>
                                        celsius
                                    </span>

                                    <span ng-if="!showMetric">
                                        <span class="weather-param-num">
                                            {{ weather.tempFahr }} 
                                        </span>
                                        fahrenhaits
                                    </span>
                                </div>
                            </div>

                            <div class="weather-param">
                                <p class="weather-param-title">Humidity</p>
                                <span class="weather-param-num">{{ weather.humidity }}</span>
                                perc
                            </div>

                            <div class="weather-param">
                                <p class="weather-param-title">Pressure</p>
                                <span class="weather-param-num">{{ weather.pressure }}</span>
                                hPa
                            </div>

                            <div class="weather-param">
                                <p class="weather-param-title">Wind</p>
                                <span class="weather-param-num">{{ weather.wind }}</span>
                                m/s
                            </div>
                        
                            <div class="delete-btn-container">
                                <a href="" class="btn-delete-city" ng-click="removeCity($index)">&#10005;</a>
                                <a href="" class="btn-delete-city" ng-click="chooseMetric()">cels</a> | 
                                <a href="" class="btn-delete-city" ng-click="chooseImperial()">fahr</a> 
                            </div>
                        </div> <!-- end of div.weather-params-container -->
                    </div> <!-- end of div.city-weather-container - ng-repeat -->

                </div>

                <form id="city-search-form" ng-submit="getAnotherCityWeather(searchCityForm.searchCity)">
                    <label for="city-search">Looking for another city?</label>
                    <input 
                        type="text" 
                        name="searchCityForm.searchCity" 
                        ng-model="searchCityForm.searchCity" 
                        id="city-search"
                        placeholder="City name"
                        required> 
                    <button 
                        type="submit" 
                        ng-disabled="searchCityForm.$invalid">
                        Search!
                    </button>

                    <div ng-if="weatherErr">Sorry, we couldn't find your city</div>
                </form>
            
                </div> <!-- end of !isLoading -->
            </div> <!-- end of WeatherController -->
        </div> <!-- end of div.wrapper -->
    </body>
</html>